.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.about-title {
    position: relative;
    text-align: center;
}

.about-title h1 {
    font-size: 80px;
    font-weight: 600;
    padding: 0px 30px;
}

.about-title img {
    position: absolute;
    bottom: 0px;
    left: 100px;
    z-index: -1;
    max-width: 290px;
    top: -40px;
}

.about-section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    margin-top: 40px;
}

.about-left {
    flex: 1;
    max-width: 500px;
}

.about-left img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-right {
    flex: 1;
    max-width: 600px;
    color: #ecf0f1;
}

.about-para p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 20px;
    color: #bdc3c7;
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-info-skils {
    display: flex;
    align-items: center; 
    justify-content: space-between;  
    gap: 10px;
    transition: 0.3s;
}

.about-skills:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.about-info-skils p {
    font-weight: 600;
    text-align: start;
}

.about-info-skils hr {
    height: 8px;
    border: none;
    background: linear-gradient(267deg, #DA7c25, #B923E1);
    border-radius: 20px;
    width: 50%;
    transition: width 0.5s ease-in-out;
    outline: none;
}

.about-info-skils:hover hr {
    width: 100%;
}

.about-achivements {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.about-achivement {
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    flex: 1;
    min-width: 230px;
    transition: transform 0.3s ease-in-out;
}

.about-achivement:hover {
    transform: translateY(-5px);
}

.about-achivement h1 {
    font-size: 3.5rem;
    background: linear-gradient(267deg, #DA7c25, #B923E1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.about-achivement p {
    font-size: 24px;
    font-weight: 500;
    color: #bdc3c7;
}

@media (max-width: 1024px) {
    .about-title h1 {
        font-size: 60px;
    }

    .about-title img {
        max-width: 220px;
        left: 50px;
        top: -30px;
    }

    .about-left img {
        height: 350px;
    }

    .about-para p {
        font-size: 18px;
    }

    .about-achivement h1 {
        font-size: 3rem;
    }

    .about-achivement p {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .about-section {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .about-left, .about-right {
        max-width: 90%;
    }

    .about-left img {
        height: 300px;
    }

    .about-para p {
        font-size: 16px;
        line-height: 1.4;
    }

    .about-achivements {
        flex-direction: column;
        gap: 20px;
    }

    .about-achivement {
        padding: 20px;
    }

    .about-achivement h1 {
        font-size: 2.5rem;
    }

    .about-achivement p {
        font-size: 18px;
    }
}

@media (max-width: 669px) {
    .about-title h1 {
        font-size: 40px;
    }

    .about-title img {
        max-width: 180px;
        left: 40px;
    }

    .about-left img {
        height: 250px;
    }

    .about-para p {
        font-size: 14px;
        line-height: 1.3;
    }

    .about-skills p {
        font-size: 14px;
    }

    .about-achivement h1 {
        font-size: 2rem;
    }

    .about-achivement p {
        font-size: 16px;
    }
}
